{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="description" content="LazyGuy Landing Page" />
    <meta name="author" content="Pixelwars">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>The Requesto</title>
    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'assets/images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'assets/images/ico/apple-touch-icon.png' %}"/>
    <!-- FONTS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fonts/hk-grotesk/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fonts/fontello/css/fontello.css' %}">
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
</head>
<body class="is-masked-dark is-text-light is-text-align-center">
    <div class="media" data-jarallax-video="https://vimeo.com/https://vimeo.com/42397960"></div>
    <!-- CONTENT-WRAP -->
    <div class="content-wrap">
        <!-- CONTENT -->
        <div class="content">
            <p>Your IP Address is: {{ ip_address }}</p>
            <br/>

            <h2>Below is your city info...</h2>
            {% for key, value in city_info.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
            <br/>

            <h2>Below is your isp info...</h2>
            {% for key, value in isp_info.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
            <br/>

            <h2>Below is your anonymous info...</h2>
            {% for key, value in anonymous_info.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
            <br/>

            <h2>Below is your asn info...</h2>
            {% for key, value in asn_info.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
            <br/>
        
            <h2>Below is your connection type info...</h2>
            {% for key, value in connection_type_info.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
            <br/>

            <h2>Below is your enterprise info...</h2>
            {% for key, value in enterprise_info.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
            <br/>

            <h2>Below is your domain info...</h2>
            {% for key, value in domain_info.items %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
            <br/>

        </div>
    <!-- CONTENT -->
    </div>
    <!-- CONTENT-WRAP -->
    <!-- SCRIPTS -->
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
