{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="description" content="LazyGuy Landing Page" />
    <meta name="author" content="Pixelwars">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>The Requesto</title>
    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" href="{% static 'assets/images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'assets/images/ico/apple-touch-icon.png' %}"/>
    <!-- FONTS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fonts/hk-grotesk/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fonts/fontello/css/fontello.css' %}">
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
</head>
<body class="is-masked-dark is-text-light is-text-align-center">
    <div class="media" data-jarallax-video="https://vimeo.com/https://vimeo.com/42397960"></div>
    <!-- CONTENT-WRAP -->
    <div class="content-wrap">
        <!-- CONTENT -->
        <div class="content">
            <!-- TITLE -->
            <h1 class="text">
                Hi, this is Requesto!
                <br>Seeker,
                <br>and a Finder.
            </h1>
            <!-- TITLE -->
            <!-- DESCRIPTION -->
            <p>This is just merely a testing website where anyone can use to practice anything they wish...</p>
            <p>
              I’m <a class="link-1 light" href="https://twitter.com/pixelwarsdesign" target="_blank">coding</a>, writing them to
              <a class="link-1 light" href="https://www.instagram.com/pixelwarsdesign/" target="_blank">perfection</a> and keep
              <a class="link-1 light" href="https://github.com/pixelwarsdesign" target="_blank">learning</a> more daily.
            </p>
            
            <p><a class="button light" href="#">How is it going?</a></p>
            <!-- DESCRIPTION -->
        </div>
    <!-- CONTENT -->
    </div>
    <!-- CONTENT-WRAP -->
    <!-- SCRIPTS -->
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
